.form {
  max-width: 28rem;
  margin: 0 auto;
}

.form__input {
  background-color: var(--base-100);
  width: 100%;
  display: block;
  padding: 1.4rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  color: var(--base-content);
  border: 2px solid var(--base-150);
  box-shadow: 0px 0px 8px 2px var(--base-drop-shadow);
}

.form__input:focus {
  outline: 2px solid var(--primary);
  box-shadow: 0px 0px 10px 0px var(--primary-drop-shadow);
}
